In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("/home/yash/Downloads/Titanic.csv")[["Age","Pclass","SibSp","Parch","Survived"]]
df.sample(5,random_state = 1)

      Age  Pclass  SibSp  Parch  Survived
862  48.0       1      0      0         1
223   NaN       3      0      0         0
84   17.0       2      0      0         1
680   NaN       3      0      0         0
535   7.0       2      0      2         1

In [3]:
df.dropna(inplace = True)

In [4]:
x = df.drop(columns = "Survived")
y = df["Survived"]

In [5]:
print(np.mean(cross_val_score(LogisticRegression(),x,y,scoring = "accuracy",cv = 20))*100)

69.33333333333333

## By Using Feature Construction

In [6]:
new_df = df.copy()
new_df["Family"] = np.where(((df["SibSp"] == 0) & (df["Parch"] == 0)),
                        0,
                        np.where(((0 < df["SibSp"] + df["Parch"]) & (df["SibSp"] + df["Parch"] <= 3)),
                                 1,
                                 2))

In [7]:
new_df.sample(7,random_state = 1)

      Age  Pclass  SibSp  Parch  Survived  Family
689  15.0       1      0      1         1       1
278   7.0       3      4      1         0       2
506  33.0       2      0      2         1       1
9    14.0       2      1      0         1       1
494  21.0       3      0      0         0       0
149  42.0       2      0      0         0       0
473  23.0       2      0      0         1       0

In [8]:
new_df.drop(columns = ["SibSp","Parch"],inplace = True)

In [9]:
X = new_df.drop(columns = "Survived")
Y = new_df["Survived"]

In [10]:
print(np.mean(cross_val_score(LogisticRegression(),X,Y,scoring = "accuracy",cv = 20))*100)

70.03174603174602